# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Environment variables
.env

# Virtual environment
venv/

# Embeddings cache
embeddings_cache.pkl

# CVs: ignore all except sample
cvs/*
!cvs/sample_cv.pdf

